/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === CAROUSEL CODE BEGINS HERE === */

.outer-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .swiper-container {
        height: 100vh;
        width: 100%;
        color: #ffffff;
        font-family: sans-serif;
        transform: scale(0.8);

        .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;

                a {
                    display: block;
                    width: 55%;
                    height: 100%;
                    margin: 0 auto;
                }
            }

            .swiper-text-overlay-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30vw;
                padding: 0 10px;
                margin-left: 24px;

                .swiper-slide-text-overlay {
                    letter-spacing: 0;
                    line-height: 32px;
                    text-align: center;
                    color: #424242;
                }
            }


        }

        .controls-container {
            
            .swiper-button-prev,
            .swiper-button-next {
                color: rgba(9, 30, 66, .15)
            }
        }


    }
}