/* Resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Mixins Import */
/* === CAROUSEL CODE BEGINS HERE === */
.outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
}

.outer-wrapper .controls-container {
  /* Removes Arrow Controls on Mobile */
}

@media (max-width: 599px) {
  .outer-wrapper .controls-container {
    display: none !important;
  }
}

.outer-wrapper .controls-container .swiper-button-prev,
.outer-wrapper .controls-container .swiper-button-next {
  color: rgba(9, 30, 66, 0.15);
}

.outer-wrapper .swiper-container {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: sans-serif;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  /* Repositions Pagination UI On Mobile */
}

@media (max-width: 599px) {
  .outer-wrapper .swiper-container {
    height: 65vh !important;
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
}

@media (min-width: 900px) {
  .outer-wrapper .swiper-container {
    height: 80vh !important;
  }
}

@media (min-width: 1200px) {
  .outer-wrapper .swiper-container {
    height: 90vh !important;
  }
}

@media (max-width: 599px) {
  .outer-wrapper .swiper-container .swiper-pagination {
    bottom: -3px !important;
  }
}

@media (min-width: 600px) {
  .outer-wrapper .swiper-container .swiper-pagination {
    bottom: 35px !important;
  }
}

@media (min-width: 900px) {
  .outer-wrapper .swiper-container .swiper-pagination {
    bottom: 15px !important;
    left: 315px !important;
  }
}

@media (min-width: 1200px) {
  .outer-wrapper .swiper-container .swiper-pagination {
    left: 360px !important;
  }
}

.outer-wrapper .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.outer-wrapper .swiper-container .swiper-wrapper .swiper-slide-active {
  width: 100% !important;
}

.outer-wrapper .swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
  width: 55%;
  height: 100%;
  margin: 0 auto;
}

/* === Add Custom Data Attributes In Markup and Slide Images Below === */
[data-slide-1] {
  background: url("/asset/shasta_carousel/img/shasta_member_home_page_resized.jpg");
}

[data-slide-2] {
  background: url("/asset/shasta_carousel/img/shasta_paperless_resized.png");
}

/* === Add Slide Data Attribute Here As Well === */
[data-slide-1], [data-slide-2] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
/*# sourceMappingURL=shasta_mem_paperless_carousel_custom.css.map */