/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === CAROUSEL CODE BEGINS HERE === */

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .swiper-container {
        height: 100vh;
        width: 100%;
        color: #ffffff;
        font-family: sans-serif;
        transform: scale(0.8);

        .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                a {
                    display: block;
                    width: 55%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
        }

        .controls-container {

            .swiper-button-prev,
            .swiper-button-next {
                color: rgba(9, 30, 66, .15)
            }
        }
    }
}

/* === Add Custom Data Attributes In Markup and Slide Images Below === */
[data-slide-1] {
    background: url("../img/shasta_member_home_page_resized.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;


}

[data-slide-2] {
    background: url("../img/shasta_paperless_resized.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}